/* ======MAIN STYLING SETTINGS ====== */
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --description-text-color: #757575;
  --headings-color: #212121;
  --team-background-color: #f5f4fa;
  --card-set-gap: 30px;
}

body {
  font-family: var(--main-font);
  color: var(--description-text-color);
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ======MAIN STYLING SETTINGS END ====== */

/* ======STUDIO START====== */
/* ======HEADER START====== */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: #000000;
}

.logo-accent {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-text {
  color: #ffffff;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--headings-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.current {
  color: var(--accent-color);
}

.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.email {
  margin-left: auto;
  margin-right: 50px;
}

.email-icon {
  margin-right: 10px;
  fill: currentColor;
}

.smarthphone-icon {
  margin-right: 10px;
  fill: currentColor;
}
/* ======HEADER FINISH====== */

/* ======HERO START====== */
.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero/background-image.jpg);
  background-color: #2f303a;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  letter-spacing: 0.06em;
}

.main-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  color: #ffffff;
  background: var(--accent-color);
  padding: 10px 32px;
  border-radius: 4px;
  border: 0;
}

.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
/* ======HERO FINISH====== */

/* ======ADVANTAGES SECTION START====== */
.advantages-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.advantages-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}

.advantages-image-content {
  width: 270px;
  height: 120px;
  padding: 25px 102px 25px 102px;
  margin-bottom: 50px;
  background-color: #f5f4fa;
}

.advantages-image-item {
  width: 64px;
  height: 70px;
}

.advantages-list-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headings-color);
  margin-bottom: 10px;
}

.advantages-list-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ======ADVANTAGES SECTION FINISH====== */

/* ======DUTIES SECTION START====== */
.duties {
  padding-top: 0;
}

.duties-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headings-color);
  margin-bottom: 50px;
}

.duties-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.duties-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}
/* ======DUTIES SECTION FINISH====== */

/* ======TEAM SECTION START====== */
.team {
  padding-top: 94px;
  background: var(--team-background-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headings-color);
  margin-bottom: 50px;
}

.team-section-content {
  padding-top: var(--card-set-gap);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--card-set-gap);
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headings-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-images-content {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}

.team-images-list {
  display: flex;
  justify-content: space-between;
}

.team-images-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: #afb1b8;
}

.team-images-link:hover,
.team-images-link:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}
/* ======TEAM SECTION FINISH====== */
/* ======CLIENTS SECTION START====== */
.clients-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headings-color);
  margin-bottom: 50px;
}

.our-clients-list {
  display: flex;
}

.our-clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-content {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 3px;
  border: 1px solid #afb1b8;
}

.our-clients-image {
  fill: #afb1b8;
}

.our-clients-link:hover,
.our-clients-link:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-color: var(--accent-color);
}

.our-clients-link:hover .our-clients-image,
.our-clients-link:focus .our-clients-image {
  fill: var(--accent-color);
}
/* ======CLIENTS SECTION FINISH====== */
/* ======FOOTER SECTION START====== */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.foot-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-link.address {
  color: #ffffff;
  margin-bottom: 9px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link:hover,
.footer-link:focus {
  color: #ffffff;
}
/* ======FOOTER SECTION FINISH====== */
/* ======STUDIO FINISH====== */

/* ======PORTFOLIO START====== */
/* ======PROJECTS BUTTONS START====== */
.projects-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-item:not(:last-child) {
  margin-right: 8px;
}

.projects-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--headings-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
}

.projects-btn.current {
  background-color: var(--accent-color);
  color: #ffffff;
}

.projects-btn:hover,
.projects-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
/* ======PROJECTS BUTTONS FINISH====== */

/* ======EXAMPLES GALLERY START====== */
.examples-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headings-color);
  margin-bottom: 4px;
}

.examples-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.examples-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
  background-color: #ffffff;
}

.examples-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.examples-text-content {
  border: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}
/* ======EXAMPLES GALLERY FINISH====== */
/* ======PORTFOLIO FINISH====== */
